In [1]:
!pip3 install matplotlib seaborn plotly scikit-learn eli5

Requirement already satisfied: matplotlib in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (3.7.1)
Requirement already satisfied: seaborn in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: plotly in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (5.14.1)
Requirement already satisfied: scikit-learn in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Requirement already satisfied: eli5 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (0.13.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=0.25 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: attrs>17.1.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from eli5) (22.2.0)
Requirement already satisfied: jinja2>=3.0.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from eli5) (3.1.2)
Requirement already satisfied: six in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from eli5) (1.16.0)
Requirement already satisfied: graphviz in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from eli5) (0.20.1)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from eli5) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from jinja2>=3.0.0->eli5) (2.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\izzham burhan\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)

In [2]:
!pip3 install shap

In [ ]:
import pandas as pd
import numpy as npR
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_white"
warnings.filterwarnings('ignore')

from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor

import eli5
from eli5.sklearn import PermutationImportance
# import shap

In [ ]:
df = pd.read_csv('retail_price.csv')
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
product_id,bed1,bed1,bed1,bed1,bed1,bed1,bed1,bed1,bed1,bed1
product_category_name,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table,bed_bath_table
month_year,01-05-2017,01-06-2017,01-07-2017,01-08-2017,01-09-2017,01-10-2017,01-11-2017,01-12-2017,01-01-2018,01-02-2018
qty,1,3,6,4,2,3,11,6,19,18
total_price,45.95,137.85,275.7,183.8,91.9,137.85,445.85,239.94,759.81,719.82
freight_price,15.1,12.933333,14.84,14.2875,15.1,15.1,15.832727,15.23,16.533684,13.749444
unit_price,45.95,45.95,45.95,45.95,45.95,45.95,40.531818,39.99,39.99,39.99
product_name_lenght,39,39,39,39,39,39,39,39,39,39
product_description_lenght,161,161,161,161,161,161,161,161,161,161
product_photos_qty,2,2,2,2,2,2,2,2,2,2
product_weight_g,350,350,350,350,350,350,350,350,350,350
product_score,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
customers,57,61,123,90,54,50,97,41,62,62
weekday,23,22,21,23,21,22,22,21,23,20
weekend,8,8,10,8,9,9,8,10,8,8
holiday,1,1,1,1,1,2,4,1,2,2
month,5,6,7,8,9,10,11,12,1,2
year,2017,2017,2017,2017,2017,2017,2017,2017,2018,2018
s,10.267394,6.503115,12.071651,9.293873,5.555556,8.333333,30.555556,16.666667,17.757009,16.82243
volume,3800,3800,3800,3800,3800,3800,3800,3800,3800,3800
comp_1,89.9,89.9,89.9,89.9,89.9,89.9,89.9,88.488235,86.9,86.9
ps1,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.9
fp1,15.011897,14.769216,13.993833,14.656757,18.776522,21.572143,16.294,18.898333,19.383529,19.209091
comp_2,215.0,209.0,205.0,199.509804,163.39871,45.95,40.531818,39.99,39.99,39.99
ps2,4.4,4.4,4.4,4.4,4.4,4.0,4.0,4.0,4.0,4.0
fp2,8.76,21.322,22.195932,19.412885,24.324687,15.1,15.832727,15.23,16.533684,13.749444
comp_3,45.95,45.95,45.95,45.95,45.95,45.95,40.531818,39.99,39.99,39.99
ps3,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
fp3,15.1,12.933333,14.84,14.2875,15.1,15.1,15.832727,15.23,16.533684,13.749444
lag_price,45.9,45.95,45.95,45.95,45.95,45.95,45.95,40.531818,39.99,39.99

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

Shape of the df

In [15]:
print(f"Columns: {df.shape[1]}\nSamples: {df.shape[0]}")

Columns: 30
Samples: 676

Checking for NA values

In [ ]:
df.isna()
any(df.isna().sum() > 0)

False

Some stats

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
qty,676.0,14.495562,15.443421,1.000000,4.000000,10.000000,18.000000,122.00
total_price,676.0,1422.708728,1700.123100,19.900000,333.700000,807.890000,1887.322500,12095.00
freight_price,676.0,20.682270,10.081817,0.000000,14.761912,17.518472,22.713558,79.76
unit_price,676.0,106.496800,76.182972,19.900000,53.900000,89.900000,129.990000,364.00
product_name_lenght,676.0,48.720414,9.420715,29.000000,40.000000,51.000000,57.000000,60.00
product_description_lenght,676.0,767.399408,655.205015,100.000000,339.000000,501.000000,903.000000,3006.00
product_photos_qty,676.0,1.994083,1.420473,1.000000,1.000000,1.500000,2.000000,8.00
product_weight_g,676.0,1847.498521,2274.808483,100.000000,348.000000,950.000000,1850.000000,9750.00
product_score,676.0,4.085503,0.232021,3.300000,3.900000,4.100000,4.200000,4.50
customers,676.0,81.028107,62.055560,1.000000,34.000000,62.000000,116.000000,339.00
weekday,676.0,21.773669,0.986104,20.000000,21.000000,22.000000,23.000000,23.00
weekend,676.0,8.658284,0.705600,8.000000,8.000000,9.000000,9.000000,10.00
holiday,676.0,1.494083,0.940430,0.000000,1.000000,1.000000,2.000000,4.00
month,676.0,6.192308,3.243455,1.000000,3.000000,6.000000,8.000000,12.00
year,676.0,2017.525148,0.499737,2017.000000,2017.000000,2018.000000,2018.000000,2018.00
s,676.0,14.644970,11.930276,0.484262,7.510204,11.316760,17.745704,100.00
volume,676.0,10664.627219,9172.801850,640.000000,3510.000000,8000.000000,15750.000000,32736.00
comp_1,676.0,79.452054,47.933358,19.900000,49.910000,69.900000,104.256549,349.90
ps1,676.0,4.159467,0.121652,3.700000,4.100000,4.200000,4.200000,4.50
fp1,676.0,18.597610,9.406537,0.095439,13.826429,16.618984,19.732500,57.23
comp_2,676.0,92.930079,49.481269,19.900000,53.900000,89.990000,117.888889,349.90
ps2,676.0,4.123521,0.207189,3.300000,4.100000,4.200000,4.200000,4.40
fp2,676.0,18.620644,6.424174,4.410000,14.485000,16.811765,21.665238,57.23
comp_3,676.0,84.182642,47.745789,19.900000,53.785714,59.900000,99.990000,255.61
ps3,676.0,4.002071,0.233292,3.500000,3.900000,4.000000,4.100000,4.40
fp3,676.0,17.965007,5.533256,7.670000,15.042727,16.517110,19.447778,57.23
lag_price,676.0,107.399684,76.974657,19.850000,55.668750,89.900000,129.990000,364.00

Exploratory Data Analysis

In [ ]:
fig = px.histogram(df, x='total_price', nbins=20, title='Distribution of Total Price')

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed